{% load static %}

<form action="#" method="post">
    {% csrf_token %}
    
    <label for="">Adicionar informações da ultima vez que colocou óleo</label>
    <button type="button" class="btn-toggle" data-target="addOleo">Mostrar</button>

    <div id="addOleo" style="display: none;">
        {{ formOil }}
        <button type="submit" name="form" value="oil">Adicionar</button>
    </div>
</form>

<form action="#" method="post">
    {% csrf_token %}

    <label for="">Adicionar data da ultima vez que foi lavada</label>
    <button type="button" class="btn-toggle" data-target="addWashed">Mostrar</button>

    <div id="addWashed" style="display: none;">
        {{ formWashed }}
        <button type="submit" name="form" value="washed">Adicionar</button>
    </div>

</form>

<form action="#" method="post">
    {% csrf_token %}

    <label for="">Adicionar data do último óleo colocado na corrente</label>
    <button type="button" class="btn-toggle" data-target="addChain">Mostrar</button>

    <div id="addChain" style="display: none;">
        {{ formChain }}
        <button type="submit" name="form" value="chain">Adicionar</button>
    </div>
</form>

<script src="{% static 'moto/js/addItem.js' %}"></script>