{% load static %}

<p>Info último óleo: {{itens.oil}}</p>

<label for="">Calcular se precisa trocar o óleo</label>

<input type="hidden" id="oldKms" data-kms="{{ itens.oil.kms }}">
<input type="number" id="kmsInput">

<button id="calcButton">Calcular</button>

<p id="oilResult"></p>

<p>Info última lavagem: {{itens.washed}}</p>
<p>Info última vez que colocou óleo na corrente: {{itens.chain}}</p>

{% if chain_oil_expired %}
<p>Você deveria trocar o óleo da corrente</p>
{% endif %}

<script src="{% static 'moto/js/index.js' %}"></script>